*{
}


#root{

 background-color:blue; 
}

body{
width:100%;
background-color: red;}


.nav-links{
margin-top:10px;
padding:10px;
display:flex;
margin-top:5;
margin-right:0;
gap:50px;
font-size:30px;
list-style:none;

}

.nav-links a{
  color:#cdd6f4;
  text-decoration:none;
  width:inherit;
  padding-top:20px;
}

.navbar-container{
`
}

.navbar{
  display:flex;
  justify-content:space-between;
  background-color:#1e1e2e;
  background-size:cover;
  padding-bottom: 30px;
  max-width:2000px; /* stop navbar stretching too much */
}

.navbar img{
  display:flex;
  height:180px;
  width:180px;
  

}


.home-container {
  min-height: 100vh;
  display: block;
  flex-direction: column;
  gap:0;
}

.hero-container{
width:100%;
height:600px;
padding:0px;
margin:0px;
overflow:hidden;
}

.hero-img{
  width:100%;
  height:100%;
  object-fit: cover;
  object-position: center 65%; /* shows a cropped part of the image */
  display:block;
  filter: blur(3px);
}